@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");

body {
  background-image: url(whitewall.jpg);
  background-repeat: no-repeat; /* повторять фон по вертикали */
  background-size: 100% 120%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 17%;
  border: 2px solid #000; /* цвет рамки черный, толщина 2px */
  margin: 15% auto;
  padding: 20px auto; /* отступ внутри рамки */
  border-radius: 5%;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-size: 30px;
  margin-bottom: 5px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.button {
  background-color: rgba(255, 255, 255, 0.511); /* бежевый цвет */
  border: none; /* убираем границы кнопки */
  border-radius: 50px; /* делаем круглые края кнопки */
  color: #000025; /* цвет текста */
  font-size: 24px; /* размер текста */
  padding: 4px 8px; /* отступ внутри кнопки */
  opacity: 0.8; /* устанавливаем прозрачность */
  transition: opacity 0.2s ease-in-out; /* добавляем плавный переход */
}

.button:hover {
  opacity: 1; /* при наведении мыши устанавливаем полную прозрачность */
}
